@import "about_section";

.load-text {
  color: black;
  font-family: "Proxima Nova", sans-serif;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
}

.textpoint text {
  font-size: calc(4px + (16 - 4) * ((100vw - 300px) / (2400 - 300))) !important;
}

.title_section {
  display: flex;
  justify-content: space-between;

  i {
    color: #fc6;
    background-color: white;
    box-shadow: none;
  }
}

.section_header {
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 1rem 0;
}

.info {
  cursor: pointer;
  font-size: 1.5rem;
  color: #fc6;
  float: right;
  box-shadow: none;
}
